docs/n8n-flows/zalo-bot-to-inbox.json
{
  "name": "Zalo Bot → Bình Vương Inbox (with Drive upload)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zalo-bot",
        "responseMode": "responseNode",
        "options": { "rawBody": false }
      },
      "id": "b1000000-0000-0000-0000-000000000001",
      "name": "Zalo Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "zalo-bot-inbox"
    },
    {
      "parameters": {
        "jsCode": "// Verify X-Bot-Api-Secret-Token, classify event, build base inbox payload.\n// When image/sticker, expose the first media URL as _download_url so a downstream\n// HTTP node can GET it and the final POST can forward the binary to Drive.\n\nconst ZALO_BOT_SECRET = $env.ZALO_BOT_SECRET;\nconst req = $input.first().json;\n\nconst incomingSecret =\n  req.headers?.['x-bot-api-secret-token'] ??\n  req.headers?.['X-Bot-Api-Secret-Token'];\nif (ZALO_BOT_SECRET && incomingSecret !== ZALO_BOT_SECRET) {\n  throw new Error(`Invalid X-Bot-Api-Secret-Token (got=${incomingSecret ?? 'none'})`);\n}\n\nconst payload = req.body ?? req;\nconst result = payload.result ?? {};\nconst msg = result.message ?? {};\nconst eventName = result.event_name ?? '';\n\nif (!msg.message_id) {\n  throw new Error(`Zalo payload missing message_id; event=${eventName}`);\n}\n\nconst externalRef = `zalo:${msg.chat?.id ?? 'unknown'}:${msg.message_id}`;\n\n// Collect candidate media URL(s) for image + sticker events\nlet itemType = 'note';\nlet content = msg.text || msg.caption || '';\nlet downloadUrl = '';\nlet filename = `zalo-${msg.message_id}`;\n\nswitch (eventName) {\n  case 'message.text.received': {\n    const t = (msg.text || '').trim();\n    if (/^https?:\\/\\//i.test((t.split(/\\s+/)[0] || ''))) {\n      itemType = 'link';\n    } else {\n      itemType = 'note';\n    }\n    content = msg.text || '';\n    break;\n  }\n  case 'message.image.received': {\n    itemType = 'image';\n    if (typeof msg.photo === 'string') downloadUrl = msg.photo;\n    else if (Array.isArray(msg.photo) && msg.photo.length) {\n      const first = msg.photo[0];\n      downloadUrl = typeof first === 'string' ? first : (first?.url || first?.file_url || '');\n    }\n    content = msg.caption || '[Zalo image]';\n    filename += '.jpg';\n    break;\n  }\n  case 'message.sticker.received': {\n    itemType = 'image';\n    const sticker = msg.sticker;\n    downloadUrl = typeof sticker === 'string' ? sticker : (sticker?.url || sticker?.thumbnail_url || '');\n    content = '[Zalo sticker]';\n    filename += '.webp';\n    break;\n  }\n  default: {\n    itemType = 'file';\n    content = msg.text || msg.caption || `[Zalo ${eventName || 'unsupported'}]`;\n  }\n}\n\nconst out = {\n  content: content || `[Zalo ${eventName}]`,\n  source: 'zalo',\n  item_type: itemType,\n  external_ref: externalRef,\n  _has_file: Boolean(downloadUrl),\n  _download_url: downloadUrl,\n  _filename: filename\n};\n\nreturn [{ json: out }];"
      },
      "id": "b2000000-0000-0000-0000-000000000002",
      "name": "Verify + Classify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-file",
              "leftValue": "={{ $json._has_file }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3000000-0000-0000-0000-000000000003",
      "name": "IF has file",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "url": "={{ $json._download_url }}",
        "sendQuery": false,
        "sendHeaders": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          },
          "timeout": 15000
        }
      },
      "id": "b4000000-0000-0000-0000-000000000004",
      "name": "Download from Zalo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://os.binhvuong.vn/api/v1/inbox",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "={{ $env.BVOS_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "content",      "value": "={{ $json.content }}" },
            { "name": "source",       "value": "={{ $json.source }}" },
            { "name": "item_type",    "value": "={{ $json.item_type }}" },
            { "name": "external_ref", "value": "={{ $json.external_ref }}" },
            { "name": "file",         "parameterType": "formBinaryData", "inputDataFieldName": "data" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "id": "b5000000-0000-0000-0000-000000000005",
      "name": "POST Multipart (Drive upload)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://os.binhvuong.vn/api/v1/inbox",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key",    "value": "={{ $env.BVOS_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content, source: $json.source, item_type: $json.item_type, external_ref: $json.external_ref }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "b6000000-0000-0000-0000-000000000006",
      "name": "POST JSON (text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 420]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": { "responseCode": 200 }
      },
      "id": "b7000000-0000-0000-0000-000000000007",
      "name": "ACK Zalo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1320, 300]
    }
  ],
  "connections": {
    "Zalo Webhook": {
      "main": [[{ "node": "Verify + Classify", "type": "main", "index": 0 }]]
    },
    "Verify + Classify": {
      "main": [[{ "node": "IF has file", "type": "main", "index": 0 }]]
    },
    "IF has file": {
      "main": [
        [{ "node": "Download from Zalo", "type": "main", "index": 0 }],
        [{ "node": "POST JSON (text)",   "type": "main", "index": 0 }]
      ]
    },
    "Download from Zalo": {
      "main": [[{ "node": "POST Multipart (Drive upload)", "type": "main", "index": 0 }]]
    },
    "POST Multipart (Drive upload)": {
      "main": [[{ "node": "ACK Zalo", "type": "main", "index": 0 }]]
    },
    "POST JSON (text)": {
      "main": [[{ "node": "ACK Zalo", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "2",
  "meta": { "instanceId": "bvos-inbox" },
  "tags": [
    { "name": "bvos" },
    { "name": "inbox" },
    { "name": "zalo" }
  ]
}
